# NextAuth
NEXTAUTH_URL=https://family.integratedfarming.id
NEXTAUTH_SECRET=generate-dengan-openssl-rand-base64-32

# Password hashes (generate dengan: npm run gen-password)
ADAM_PASSWORD_HASH=
RIFDA_PASSWORD_HASH=

# Google Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# Google Spreadsheet ID (dari URL: docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit)
GOOGLE_SPREADSHEET_ID=
